<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1> Welcome to Flask Sample App</h1>
    {%  if session.get('logged_in') %}
        <p>Click here <a href="logout" /> to logout</p>
    {% else %}
        <p>Click here <a href="login" /> to login</p>
    {% endif %}
    {%  for message in get_flashed_messages() %}
            {{ message }}
    {% endfor %}
</body>
</html>