<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form action="" method="post">
    User Name <input type="text" name="username">
    Password <input type="text" name="password">
    <input type="submit">
    {%  if error %}
        <h4>ERROR {{ error }}</h4>
    {%  endif %}
    {%  for message in get_flashed_messages() %}
            {{ message }}
    {% endfor %}
</form>
</body>
</html>