<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to shopping page</title>
</head>
<body>

<ul>
    {% for item in food %}
        <li> {{ item }}</li>
    {%  endfor %}
</ul>

</body>
</html>