<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to profile page</title>
</head>
<body>
{% if userid %}
    <h2>Welcome {{ userid }}</h2>
{% else %}
    <h2>Please login </h2>
{%  endif %}
</body>
</html>